<%- include("partials/header"); -%>
<section id="carousel">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active li-1"></li>
      <li data-target="#demo" data-slide-to="1" class=" li-1"></li>
      <li data-target="#demo" data-slide-to="2" class=" li-1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/carousel1.jpg" alt="Los Angeles" style="max-width:100%; height:auto;margin-right:auto; margin-left:auto;display:block;">
      </div>
      <div class="carousel-item">
        <img src="/images/carousel2.jpg" alt="Chicago" style="max-width:100%; height:auto;margin-right:auto; margin-left:auto;display:block;">
      </div>
      <div class="carousel-item">
        <img src="/images/carousel3.jpg" alt="New York" style="max-width:100%; height:auto; margin-right:auto; margin-left:auto;display:block;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev" >
      <span class="carousel-control-prev-icon" ></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section id="items">
  <div class="row justify-content-center">

<% sarees.forEach(function(saree) { %>
    <div class="col-6 col-sm-4 pt-2">
      <div class="container ">
        <div class="card">
          <img class="card-img-top" src="data:image/*;base64,<%=saree.img.data.toString('base64'); %> " alt="Card image" style="width:100%">
          <div class="card-body">
          <!-- for product name  <h2><%= %></h2> -->
          <!-- for product discription limited letters<p><%=%></p> -->

          <!-- for product price <h3><%= %></h3> -->

            <a href="#" class="btn btn-primary">Add to favorite</a>
          </div>
        </div>
      </div>
    </div>
<% }) %>
</div>
</section>

<%- include("partials/footer"); -%>
