<% if (header=='header'){ %>
<%- include("partials/header"); -%>
<%}else {%>
<%- include("partials/headerdummy"); -%>
<%}%>
  <div class="productDescription">

	<div class="container">
		<div class="card skj-1">
			<div class="container-fluid">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="data:image/*;base64,<%=sareeimg%> " height="450px"></div>

						</div>

					</div>
					<div class="details col-md-6">
            <!--here dynamic product name comes-->
						<h3 class="product-title"><%=productName%></h3>
<!--here dynamic description comes-->
						<p class="product-description"><%=productDescription%></p>
						<h4 class="price">current price: <span><!-- idhr dynamic money--><%=prize%></span></h4>
            

						<h5 class="sizes">Category:
							<span class="size" data-toggle="tooltip" title="category"><%=category%><!--here category from database comes --></span>

						</h5>
						<h5 class="colors">pieces:
							<span class=" " data-toggle="tooltip" title=""><!-- pieces from database--><%=pieces%></span>

						</h5>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include("partials/footer"); -%>
