<% if (header=='header'){ %>
<%- include("partials/header"); -%>
<%}else {%>
<%- include("partials/headerdummy"); -%>
<%}%>
<div class="card pdp p-0 m-0" onclick="closeNav();">
  <img class="card-image-top" src="data:image/*;base64,<%=sareeimg%> " width="100%" alt="Saree image">
  <div class="card-body mt-0 pt-0">
    <p class="product-title"><%=productName%></p>
    <p class="price mt-2">&#x20b9;<%=prize%></p>
    <p class="tex  mt-n4">inclusive of all texes</p>
    </div>
</div>

<div class="card saree-details-card">
  <div class="card-body">
    <p class="card-title sare-details-p">Saree Details:</p>

      <p class="sizes ">Fabric:<%=category%></p>
        <p class="colors">Colours:<%=pieces%></p>
          <p class="product-description mt-0"> <%=productDescription%></p>
          <p class="text-center"> <a href="/userlike/<%=sid%>" class="btn btn-danger" style="color:#fff;font-size:20px;float:left display:inline">WishList <i class="fas fa-bookmark "></i></a>
          <a href="tel:+919214555250" class="btn btn-primary" style="color:#fff;font-size:20px;">contact us</a>

  </div>
</div>

<%- include("partials/footer"); -%>
