<%- include("partials/headerdummy"); -%>
<section id="items" onclick="closeNav()">
<h2 class="pt-5 pb-5 text-center" style="text-align:center">Cart<i class="fas fa-shopping-cart fa-lg"></i></h2>
<div class="row justify-content-center">

<% sarees.forEach(function(saree) { %>
<div class="col-6 col-md-4 pl-0 pr-0 d-flex align-items-stretch">
<div class="card" style="background-color:#fff;height:31rem;border-radius:0%;">
<a href="/sarees/<%=saree._id%>"><img class="card-img-top" src="data:image/*;base64,<%=saree.img.data.toString('base64'); %> " alt="Saree image" style="width:100%"></a>
<div class="card-body mt-0 pt-0">
  <a href="/sarees/<%=saree._id%>" class="pb-0" style="color:black;white-space: nowrap; font-size:16px;padding-left:-5px;margin:0px;"><p class="pt-0 mt-0"><%=saree.productName%> </p></a>
  <p class="pt-0 mt-0" style="color:black;font-size:20px;font-weight:500;padding-left:-5px;margin:0px;">&#x20b9;<%=saree.prize%></p>
  <p class="pt-0 mt-0" style="font-weight:200;white-space: nowrap;padding-left:-5px;"><%=saree.productDescription.substring(0,20)+"..." %></p>
    <button href="/delete/<%=saree._id%>" style="color:#fff;" class="btn btn-danger btn-block">Remove <i class="fas fa-bookmark"></i></button>
    <button href="tel:+919214555250" class="btn btn-dark btn-block mb-0 pd-0 mt-1 pt-1" style="display:block;">contact us</button>

</div>

</div>
</div>
<% }) %>
</div>
</section>
<%- include("partials/footer"); -%>
